form {
    display: block;
    text-align: center;
    position:relative;
}

section.card {
    display: none;
    text-align: center;
} 

button.file-btn {
    width: 60px;
    height: 30px;
    margin: 20px auto;
    display: block;
    border-radius: 15px;
    background-color: black;
    color: white;
}

button.file-btn:hover {
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

#inpFileLabel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    color: #8d6e63;
    border: 2px dashed #8d6e63;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

button.next {
    width: 120px;
    height: 60px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid black;
}

button.next:hover {
    background-color: black;
    color: white;
}

body{background:#fbe9e7; position:relative;height:100%;width:100%;max-width:600px;overflow:auto; margin:0 auto;}
h1{text-align:center;font-size:2em;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
img{width:100%; height:100%; margin-top:10px; border-radius:.12em; box-shadow:0 0 0 2px #fff;}
.align{
  padding-top:20px;
  width:100%;
  height:300px;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:space-around;
}
.card-container{
  -webkit-perspective:1200;
  -moz-perspective:1200;
  perspective:1200;
}
.card-vertical, .card-horizontal{
  height:250px;
  width:250px;
  -moz-transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;

  transition:all .4s ease;
 }
.card-front, .card-back{
  border-radius: 15px;
  color:#fafafa;
  height:100%;
  width:100%;
  position:absolute;
  background:#ff5252;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
 }
.card-back{
  -moz-transform:rotateY(179.9deg);
  -webkit-transform:rotateY(179.9deg);
  transform:rotateY(179.9deg);
  background:#8d6e63 ;
 }
 .card-front-content, .card-back-content {
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
    line-height: 2.6em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.card-back-hr{
  -webkit-transform:rotateX(179.9deg);
  -moz-transform:rotateX(179.9deg);
  transform:rotateX(179.9deg);
}
.card-vertical:hover{
  -webkit-transform:rotateY(179.9deg);
  -moz-transform:rotateY(179.9deg);
  transform:rotateY(179.9deg);
}
.card-horizontal:hover{
  -webkit-transform:rotateX(179.9deg);
  -moz-transform:rotateX(179.9deg);
  transform:rotateX(179.9deg);
}

